[DEFAULT]
auth_strategy = noauth
debug = false
transport_url = fake://
use_stderr = true
listen_address = ::
host = {{ env.IRONIC_HOST_IP }}

[database]
connection = mysql+pymysql://ironic:{{ env.MARIADB_PASSWORD }}@mariadb-svc.mariadb-system/ironic-inspector?charset=utf8

[discovery]
enroll_node_driver = ipmi

[ironic]
auth_type = none
endpoint_override = {{ env.IRONIC_HOST_IP }}

[processing]
add_ports = all
always_store_ramdisk_logs = true
keep_ports = present
node_not_found_hook = enroll
permit_active_introspection = true
power_off = false
processing_hooks = $default_processing_hooks,extra_hardware,lldp_basic
ramdisk_logs_dir = /shared/log/ironic-inspector/ramdisk
store_data = database

[pxe_filter]
driver = noop

[service_catalog]
auth_type = none
endpoint_override = {{ env.IRONIC_HOST_IP }}

